body{
    margin: 5%;
    margin-top: 2%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p, ul {
    font-size: 1.5rem;
}

.container{
    display: flex;
    height: 100%;
}

.menu{
    width: 25%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menu a:visited{
    color: inherit;
}

.menu a:hover{
    background-color: lightgrey;
}

.conteudo{
    width: 75%;
    padding-left: 5%;
    border-left: solid;
    text-align: justify;
    margin-left: 30%;
}

.paragrafo {
    padding-left: 3%;
}