body{
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p, ul {
    font-size: 1.5rem;
}

.container{
    display: flex;
    height: 100%;
    background-color: #fff;
}

.menu{
    width: 25%;
    height: 100%;
    padding-inline: 3%;
    position: fixed;
    overflow-y: auto;
    background-color: #87CEEB;
    border-right: solid;
    color: black;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menu a:visited{
    color: inherit;
}

.menu a:hover{
    background-color: lightgrey;
    transition: color 0.5s;
    color: aquamarine;
}

.conteudo{
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    margin-left: 28%;
}

.paragrafo {
    padding-left: 3%;
}

.paragrafo ul{
    padding-left: 2%;
}

@media (max-width: 930px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .menu {
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-bottom: solid;
        padding-inline: 5%;
        box-sizing: border-box;
    }

    .conteudo {
        width: 100%;
        margin-left: 0;
        padding-inline: 5%;
        box-sizing: border-box;
    }
}